@import "./config.scss";

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100vh;
}

header {
  height: 4rem;
  background-color: $amber-200;
}
main {
  background-color: $teal-200;
}
footer {
  height: 4rem;
  background-color: $purple-200;
}
